<!DOCTYPE html>
<html lang="sr">
  <head>
    <title>Iznajmi projektor Novi Sad</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Iznajmljivanje projektora u Novom Sadu.
    Profesionalni projektori za poslovne prezentacije, proslave, svadbe. Projektor moze da
    projektuje sliku vecu od 2m. Izdajemo i samostojece platno na tronoscu za
    projektor.">
    <meta name="author" content="trk inovacije doo">
    <meta name="keywords" content="iznajmljivanje projektora, novi sad, projektor, platno">

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->


  </head>
  <body>
    {{ content }}
  </body>
</html>
